* {
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
}

li {
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

/* Button */
button {
    appearance: none;
    background-color: #009879;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    margin: 1em;
}
button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}
button:hover {
  background-color: #03866c;
}
button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}
button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}
button:active {
  background-color: #03866c;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* Table */
table {
    width: 100%;
    font-size: 0.9em;
    margin-bottom: 5px;
    text-align: center;
    font-family: sans-serif;
    border-collapse: collapse;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

table input {
    text-align: center!important;
}

thead {
    border-bottom: 2px solid #009879!important;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    width: 50%;
}

tbody tr {
    position: relative;
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody th {
    border-bottom: 2px solid #009879;
}

#casinoEV tbody th {
    border-bottom: 2px solid #006898;
}

tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

tfoot {
    background-color: #009879;
    color: white;
}

input {
    width: 100%;
    border: none;
    text-align: center;
    background: none;
    font-size: 0.9em;
}
textarea:focus, input:focus{
    outline: none;
}

/* Table Colours */
/* Free Bets */
#freeBets tfoot {
    background-color: #1080d2;
}
#freeBets thead {
    border-bottom: 2px solid#1080d2!important;
}
.freebet-button{
    background-color: #1080d2;
}
.freebet-button:hover {
    background-color: #1072b8;
}
.freebet-button:focus {
    box-shadow: rgba(46, 127, 164, 0.4) 0 0 0 3px;
    outline: none;
}
.freebet-button:disabled {
    background-color: #94b5d3;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}
.freebet-button:active {
    background-color: #1072b8;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
/* Bank */
#banktransfer tfoot {
    background-color: #1080d2;
}
#banktransfer thead {
    border-bottom: 2px solid#1080d2!important;
}
/* Casino */
#casinoEV thead {
    border-bottom: 2px solid #F10E96!important;
}
#casinoEV tbody tr.active-row {
    font-weight: bold;
    color: #F10E96;
}
#casinoEV tfoot {
    background-color: #F10E96;
    color: white;
}
#casino #table-buttons button {
    background-color: #F10E96;
}
#casino #table-buttons button:hover, #casino #table-buttons button:active  {
    background-color: #F10E96;
}

/* Table Remove Buttons */
.list-remove {
    width: 25px;
    height: 25px;
    font-size: 20px;
    line-height: 22px;
    color: white;
    background: #c01d1d;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.list-done {
    width: 25px;
    height: 25px;
    font-size: 15px;
    line-height: 22px;
    color: white;
    background: #14db32;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.list-done i {
    line-height: 24px;
}

/* Description under tables */
#tableSettings > span {
    float: left;
    margin-left: 10px;
    margin-top: 3px;
    font-weight: bold;
}
#table-buttons {
    float: right;
}

/* New Additions */

/* Top Nav */
#topNav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background: #1080d2;
    color: white;
}

#changeUsers {
    background-color: #1080d2;
    position: absolute;
    top: 40px;
    padding: 10px 20px;
}

#changeUsers li {
    display: block;
    padding: 10px 5px;
}

/* Mid Section */
.midSection {
    margin-bottom: 150px;
}

.midSection > div {
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    display: block;
}

/* Midsection Title */
#title {
    margin: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}


/* Bottom Nav Menu */
#bottomNav {
    display: flex;
    width: 100%;
    height: 65px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

#bottomNav a {
    width: 100%;
    height: 100%;
    font-size: 1.8em;
    display: inline-block;
    background: #1080d2;
    color: white;
    cursor: pointer;
}

#bottomNav i {
    line-height: 65px;
}

#addKey {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

/* Casino Tab*/
#Casino {
    max-width: 600px;
    margin: 0 auto;
}
#casino #table-buttons {
    margin:0;
    padding:0;
}

/* Calculator */
/* Add Bet Form */
#addBetContainer {
    padding: 20px;
}

.panel {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.form-bet {
    background-color: #faf1d7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
    border-color: #f4c7c7  #f4c7c7  #f4c7c7 ;
    border-style: solid;
    border-width: 1px;
}

.form-backBet {
    background-color: #D7ECFA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
    border-color: #84C4F1 #84C4F1 #53ACEB;
    border-style: solid;
    border-width: 1px;
}

.form-exchange {
    background-color: #FDDEE5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
    border-color: #FBAFBF #FBAFBF #FAA0B2;
    border-style: solid;
    border-width: 1px;
}

.input-group-addon {
    text-align: left;
    padding: 7px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    color: #555555;
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid #e7e7e7;
      border-right-color: rgb(231, 231, 231);
      border-right-style: solid;
      border-right-width: 1px;
    border-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
  }